@tabHeight: 28px;
@tabFontSize: @font-size-normal;
@tabInnerVPadding: 2px;

@tabBackground: @color-0;

@tabColor: transparent;
@tabTextColor: @color-3;


@tabActiveColor: @color-2;
@tabActiveBorder: transparent;
@tabActiveTextColor: @color-7;

@tabHoverTextColor: @tabActiveTextColor;

@tabPanelPadding: 5px;
@tabPanelLateralWidth: 210px;

@import "base.less";
@import "manager.less";
@import "section.less";
@import "tab.less";
